body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 25px;
    border-radius: 12px;
    width: 420px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #38bdf8;
}

select, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

select {
    background: #020617;
    color: white;
    border: 1px solid #334155;
}

button {
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.result {
    margin-top: 20px;
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #334155;
}
